@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for flex-1 (if needed) */
.flex-1::-webkit-scrollbar {
  display: none;
}

/* Custom thin scrollbar */
.custom-scrollbar {
  scroll-behavior: smooth; /* Smooth scrolling */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #b0b0b0 #f1f1f1; /* Thumb and track color for Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* small width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* light background */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #b0b0b0; /* grey thumb */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #888; /* darker on hover */
}
